@page "/Error/{ErrorCode:int}"
@inherits LayoutComponentBase

@code {
    [Parameter] public int ErrorCode { get; set; }
}

<PageTitle>@ErrorCode - Headhunter Stats</PageTitle>

<h1 class="text-danger">Error @ErrorCode</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>

